.resultWindow {
  width: 100vw;
  min-height: 150vh;
  background-image: url('../images/resultsbg.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(54, 54, 54);
}

.skiMap img {
  width: 50vw;
  cursor: zoom-in;
  min-height: 80vh;
}

.resortInfo {
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 2rem;
  font-size: 1vw;
  width: 20vw;
  min-height: 70vh;
}

.resortInfo h2 {
  line-height: 0.1rem;
  margin-bottom: 10vh;
}
.resortInfo h3 {
  line-height: 0.5rem;
  margin-bottom: 5vh;
}

.resortInfo ul {
  padding: 0;
}

.resortInfo button {
  margin: 2rem;
  font-size: 1vw;
  line-height: 2vh;
  padding: 1rem 1rem 1.1rem 1rem;
  min-width: 15vw;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border: 3px solid gray;
  background: rgb(21, 205, 240);
  background: linear-gradient(
    180deg,
    rgba(21, 205, 240, 1) 0%,
    rgba(6, 140, 153, 1) 100%
  );
}

.show {
  display: block;
}

#zoomedImage {
  max-width: 90vw;
  border: 5px solid black;
  cursor: zoom-out;
  position: absolute;
  top: 10vh;
  left: 5vw;
  right: 5vw;
  z-index: 2;
  box-shadow: 10px 10px 100vw 100vw rgba(0, 0, 0, 0.7);
}

.hide {
  display: none;
}

.weather {
  background-color: rgb(192, 190, 190);
  width: 70vw;
  padding: 2rem;
  font-size: 1vw;
}
