header {
  color: black;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 2rem;
  font-size: 0.7rem;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: rgb(121, 121, 190);
}

header ul {
  list-style: none;
  font-size: 1rem;
}

header li:hover{
 color: rgb(121, 121, 190);
  cursor: pointer;
}

header button {
  font-family: 'Poppins', sans-serif;
  margin-left: 0.3rem;
  padding: 0.4rem 0.3rem 0.3rem 0.3rem;
  border-radius: 2px;
}
