input {
  width: 40vw;
  height: 2.5vh;
  padding: 1rem;
  border: 3px solid gray;
  border-radius: 2px;
  background-color: rgb(248, 248, 248);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.searchWindow {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  min-width: 60vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

input:focus {
  outline-style: none;
}

button {
  line-height: 2vh;
  padding: 1rem 1rem 1.1rem 1rem;
  min-width: 10vw;
  margin-left: 2rem;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  box-shadow: 0 3px rgb(5, 119, 129);
  background: rgb(21, 205, 240);
  background: linear-gradient(
    180deg,
    rgba(21, 205, 240, 1) 0%,
    rgba(6, 140, 153, 1) 100%
  );
}
button:hover {
  background: rgb(21, 205, 240);
  background: linear-gradient(
    180deg,
    rgba(21, 205, 240, 1) 0%,
    rgb(1, 87, 95) 100%
  );
}

button:active {
  background: rgb(21, 205, 240);
  background: linear-gradient(
    360deg,
    rgba(21, 205, 240, 1) 0%,
    rgba(6, 140, 153, 1) 100%
  );

  box-shadow: 0 0px rgb(255, 255, 255);
  transform: translateY(4px);
}

button:focus {
  outline-style: none;
}

button {
  cursor: pointer;
}

.searchWindow {
  display: flex;
  flex-direction: column;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
  .searchWindow {
    font-size: 0.7rem;
  }
  input {
    font-size: 0.7rem;
    width: 60vw;
  }
  input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
  }

  button {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
  .searchInfo h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
