main input {
  width: 40vw;
  height: 2vh;
  padding: 1rem;
  border: 3px solid gray;
  border-radius: 2px;
  background-color: rgb(229, 237, 250);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

main .searchWindow {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  margin: 20vh 10vw 0 10vw;
  min-width: 60vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

main input:focus {
  outline-style: none;
}

main button {
  line-height: 2vh;
  padding: 1rem 1rem 1.1rem 1rem;
  margin-top: 0.2vh;
  min-width: 10vw;
  margin-left: 2rem;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border: 3px solid gray;
  background: rgb(21, 205, 240);
  background: linear-gradient(
    180deg,
    rgba(21, 205, 240, 1) 0%,
    rgba(6, 140, 153, 1) 100%
  );
}

main button:focus {
  outline-style: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

header input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 0.6rem;
}

header input {
  width: 20vw;
  height: 1.6vh;
  padding: 0.5rem;
  background-color: rgb(229, 237, 250);
  font-family: 'Poppins', sans-serif;
  font-size: 0.6rem;
}
