.resultsWindow {
  width: 50vw;
  height: 70vh;
  margin-top: 10vh;
  background-color: rgb(235, 235, 235);
  overflow: auto;
}

.resultsSubheader {
  padding: 1rem;
  background-color: rgb(51, 50, 50);
  color: white;
  font-size: 0.7rem;
}

.resultsList {
  padding: 1rem;
}
